@media only screen and (max-width: 1000px){
	td, th{
		font-size: 10pt;
	}
	#format{
		font-size: 12pt;
	}

	hr {
		width: 100%;
	}
}

@media only screen and (min-width: 1001px){
	hr {
		width: 50%
	}
}

#matchTable{
	margin: auto;
}

tr{
	height: 75px;
}
td{
	width: 75px;
}

#versus{
	color: red;
}

.player{
	font-weight: bold;
}

.dateTimeDiv {
	font-size: 14pt;
	font-weight: bold;
}

.matchSpan {
	display: inline-block;
}

.idSpan {
	display: inline-block;
	font-size: 18pt;
	font-weight: bold;
	padding-right: 40px;
	padding-left: 40px;


}

.validateMatchDiv {
	display: inline-flex;
	align-items: center;
}